html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
  color: white;
  background-image: url("Coding.jpg");
  background-position: center;
}

        .form-group button[type="submit"]:hover {
            background-color: #23527c;
        }

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

form {
  border-width: 5px;
  border-color: gray;
}