html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: white;
    background-image: url("Coding.jpg");
    background-position: center;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

form {
    border-width: 5px;
    border-color: gray;
}

header {
    background-color: #4800ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #007bff;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar-toggler {
    display: none;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.nav-item {
    margin: 0;
}

.nav-link {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

    .nav-link:hover {
        background-color: #0056b3;
        color: #fff;
        border-radius: 5px;
    }
