html {
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  color: white;
  background-image: url("Coding.jpg");
  background-position: center;
}

.form-group button[type="submit"]:hover {
  background-color: #23527c;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

form {
  border-width: 5px;
  border-color: gray;
}

header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.footer {
  height: 34px;
  width: 100%;
  background-color: black;
  color: white;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
  opacity: 0.6;
  font-size: 30px;
  text-align: center;
}

.footer:hover {
  opacity: 1;
}

#header-logo {
  display: flex;
  justify-content: center;
}


.navbar {
  height: 34px;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  top: 0pt;
  left: 0pt;
  padding: 10px 25px;
  background-color: black;
  text-align: center;
  padding-bottom: 25px;

}

p.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-top: -5px;
}

.navbar-toggler {
  display: none;
}

.navbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  margin-top: -25px;
}

.nav-item {
  margin: 0;
}

.nav-link {
  font-size: 18px;
  color: #fff;
  opacity: 0.4;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: #0056b3;
  color: #fff;
  border-radius: 5px;
  opacity: 1;
}

.card {
  box-shadow: 2px 2px 30px lime;
  border-radius: 10px;
  padding: 5px;
  background-color: #f7f7f7;
  margin-bottom: 40px;
  transition: box-shadow 1.2s;
  opacity: 0.9;
}

.card-body {
  padding: 5px;
  color: black;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  color: #666;
}

.card-link {
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
  opacity: 1;
}

.text-muted {
  color: #999;
}


.container {
  max-width: 800px;
  margin: 40px auto;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

h1 {
  text-align: center;
}

.row {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
}

.form-group button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #337ab7;
  color: #fff;
  border: none;
}

.form-group button[type="submit"]:hover {
  background-color: #23527c;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-top: 20px;
    padding: 10px;
  }
}

.robot {
  position: fixed;
  bottom: 22px;
  left: 0;
  width: 150px;
  height: 150px;
  background-image: url("robot.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.1s linear;
}